
<?php

$servername ="{{getv "/message"}}" ;
$username = "root";
$password = "123";
$mydb = "dummy";

// Create connection
$conn = new mysqli($servername, $username, $password,$mydb);

// Check connection
if ($conn->connect_error) {
    die("Connection failed: " . $conn->connect_error);
} 
echo "Connected successfully " . "<br>";

echo $conn->host_info . "<br>";

echo " Query table dummy <br>";

$val = $conn->query("select dummy from dummy");

if ($val->num_rows > 0) {
    while($row = $val->fetch_assoc()) {
        echo "id: " . $row["dummy"]."<br>"; 
    }
} else {
    echo "0 results";
}


?>

